In [4]:
import pandas as pd
df = pd.read_csv("C:\\Users\\demishra\\Documents\\DS\\weatherdata.csv")
df

        day  temp  windspeed  event
0  6/1/2021    32          6   Rain
1  6/2/2021    35          7  Sunny
2  6/3/2021    28          2   Snow
3  6/4/2021    24          7   Snow
4  6/5/2021    32          4   Rain
5  6/6/2021    32          2  Sunny

In [5]:
df.day

0    6/1/2021
1    6/2/2021
2    6/3/2021
3    6/4/2021
4    6/5/2021
5    6/6/2021
Name: day, dtype: object

In [6]:
df['day']

0    6/1/2021
1    6/2/2021
2    6/3/2021
3    6/4/2021
4    6/5/2021
5    6/6/2021
Name: day, dtype: object

In [7]:
type(df['event'])

pandas.core.series.Series

In [8]:
df.row

AttributeError: 'DataFrame' object has no attribute 'row'

In [9]:
df.rows

AttributeError: 'DataFrame' object has no attribute 'rows'

In [10]:
df.shape

(6, 4)

In [11]:
rows,columns = df.shape

In [12]:
rows

6

In [13]:
columns

4

In [14]:
df.head()

        day  temp  windspeed  event
0  6/1/2021    32          6   Rain
1  6/2/2021    35          7  Sunny
2  6/3/2021    28          2   Snow
3  6/4/2021    24          7   Snow
4  6/5/2021    32          4   Rain

In [15]:
df.describe()

            temp  windspeed
count   6.000000   6.000000
mean   30.500000   4.666667
std     3.885872   2.338090
min    24.000000   2.000000
25%    29.000000   2.500000
50%    32.000000   5.000000
75%    32.000000   6.750000
max    35.000000   7.000000

In [16]:
df[df.temp>=32]

        day  temp  windspeed  event
0  6/1/2021    32          6   Rain
1  6/2/2021    35          7  Sunny
4  6/5/2021    32          4   Rain
5  6/6/2021    32          2  Sunny

In [17]:
df[df.temp == df.temp.max()]

        day  temp  windspeed  event
1  6/2/2021    35          7  Sunny

In [18]:
df[df.temp==df['temp'].max()]

        day  temp  windspeed  event
1  6/2/2021    35          7  Sunny