In [1]:
# Read data from csv
import pandas as pd
df = pd.read_csv("C:\\Data Science\\Pandas\\stockdata.csv")
df

  Tickers  EPS   Revenue Price         People
0   GOOGL  27.6       87   845          larry
1     WMT  20.1      484    65            n.a
2    MSFT    -1       85    64           bill
3     RIL   n.a       50  1023         mukesh
4    TATA   5.6       -1   n.a  not available

In [2]:
# Read data with changing data given by cleaning
import pandas as pd
df = pd.read_csv("C:\\Data Science\\Pandas\\stockdata.csv", na_values={
    'EPS': ["not available","n.a"],
    'Revenue': ["not available","n.a",-1],
    'People': ["not available","n.a"]
})
df

  Tickers  EPS   Revenue Price  People
0   GOOGL  27.6     87.0   845   larry
1     WMT  20.1    484.0    65     NaN
2    MSFT    -1     85.0    64    bill
3     RIL   n.a     50.0  1023  mukesh
4    TATA   5.6      NaN   n.a     NaN

In [3]:
df.to_csv('new.csv',index=False)

In [4]:
df.columns

Index(['Tickers', 'EPS ', 'Revenue', 'Price', 'People'], dtype='object')

In [8]:
#write with few columns
df.to_csv("new.csv",columns=['Tickers','Revenue'])